@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {  
  .button {
    @apply w-fit transform cursor-pointer rounded-full border px-4 py-2 text-center transition 
      duration-100 ease-out hover:shadow-lg active:scale-95 active:bg-gray-100;
  }
} 
